<h1>Welcome to my first app</h1>
<p>Which one do you want to create?</p>

<a href="/todo_list"><button>Todo List</button></a>
<a href="/time_table"><button>Time Table</button></a>
<a href="/diary"><button>Diary</button></a>